<div class="title col-12 text-center bg-black text-white py-1 mb-5">
  <h3>Pay My Buddy</h3>
</div>
<div class="form-container col-4 border border-dark rounded-2 py-5 m-auto">
  <form (ngSubmit)="onLogin()">
    <div class="col-4 text-center text-white rounded bg-success py-1 m-auto">
      <h4>Pay My Buddy</h4>
    </div>
    <div class="col-11 mx-auto mt-5 py-2">
      <label>Mail: </label>
      <input id="email" type="text" class="form-control" name="email" [(ngModel)]="username"
             placeholder="&#x2709; Email"><br>
    </div>
    <div class="col-11 m-auto py-2">
      <label>Password: </label>
      <input id="password" type="password" class="form-control" name="password " [(ngModel)]="password"
             placeholder="&#10033; Password"><br>
    </div>
    <div *ngIf="alert==true" class="alert alert-warning col-11 m-auto" role="alert">
      Error, check your email and password !
    </div>

    <div class="col-4 form-check m-auto pb-5">
      <input class="form-check-input" type="checkbox" name="rememberme" id="remember-me">
      <label class="form-check-label" for="remember-me">
        <h5>Remember me</h5>
      </label>
    </div>
    <div class="text-center"><a routerLink="/registration" routerLinkActive="active">Create an account</a></div>

    <div class="text-center m-auto p-5"><input type="submit" class="btn btn-primary btn-lg"
                                               [disabled]="!username || !password" value="   Login   "></div>
  </form>
</div>
