<!--<div class="form-card">
  <h2>Connexion</h2>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email">
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" id="password">
  </div>
  <div class="action-buttons">
    <button (click)="onLogin()">Connexion</button>
  </div>
</div>-->

<div class="login-container">
  <div>
     <div class="title">
      Pay My Buddy
    </div>
    <div class="form-container">
      <form (ngSubmit)="onLogin()">
        <span>Mail: </span><input type="text" class="form-control" name="email" [(ngModel)]="username"><br>
        <span>Password: </span><input type="password" class="form-control" name="password"
                                      [(ngModel)]="password"><br>
        <div class="text-center"><input type="submit" class="btn btn-primary" value="OK"></div>
      </form>
    </div>
    <div><a routerLink="/registration" routerLinkActive="active">Créer un compte</a></div>
  </div>
</div>
